.jcarousel-skin-tango2 .jcarousel-container {
    
}

.jcarousel-skin-tango2 .jcarousel-container-horizontal {
    width: 787px;
}

.jcarousel-skin-tango2 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango2 .jcarousel-clip-horizontal {
    width: 767px;
    height: 32px;
	margin:0 10px;
/*	margin:0 30px;*/
}

.jcarousel-skin-tango2 .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango2 .jcarousel-item {
    padding:0 15px;
    height: 32px;
	line-height:32px;
	overflow:hidden
}
.jcarousel-skin-tango2 ul li a {
    color:#9a9a9a;font-size:11px;height: 32px;
	line-height:32px;display:block;text-transform:uppercase
}
.jcarousel-skin-tango2 ul li a:hover, .jcarousel-skin-tango2 ul li.active a {
    color:#ab00d0;
	text-decoration:none;
	background:url(../../../../images/bullet.png) center top no-repeat;
	display:block;height:32px;line-height:32px;font-size:11px
}

.jcarousel-skin-tango2 .jcarousel-item-horizontal {
    /*margin:0 7px*/float:left
}

.jcarousel-skin-tango2 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango2 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango2 .jcarousel-next-horizontal {
    position: absolute;
    top: -15px;
    right: 13px;
    width: 20px;
    height: 17px;
    cursor: pointer;
     background:url(../../../../images/Scroll.png) no-repeat scroll -21px 0;
	font-size:0;
}

/*.jcarousel-skin-tango2 .jcarousel-next-horizontal:hover {
   background-position: -13px 0;font-size:0;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:active {
    background-position: -13px 0;font-size:0;
}*/

.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: bottom right;font-size:0;
	
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
    position: absolute;
    top:-15px;
    right:33px ;
    width: 21px;
    height:17px;
	font-size:0;
    cursor: pointer;
    background:url(../../../../images/Scroll.png) no-repeat scroll 0 0;
}

/*.jcarousel-skin-tango2 .jcarousel-prev-horizontal:hover {
   cursor: default;
    background-position: 0 0;font-size:0;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:active {
   cursor: default;
    background-position: 0 0;font-size:0;
}*/

.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: bottom left;font-size:0;
}

/**
 *  Vertical Buttons
 
.jcarousel-skin-tango2 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}*/
/*
.jcarousel-skin-tango2 .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango2 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}*/
/*
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango2 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango2 .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango2 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
} */
