.jcarousel-skin-tango .jcarousel-container {
    
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:199px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 199px;
    height: 260px;
    padding: 5px 0;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 494px;
    min-height: 158px;
	height:auto !important;
	height:158px;
	margin:0 5px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  199px;
    height: 270px;
}

.jcarousel-skin-tango .jcarousel-item {
	width:199px;
	height:62px;
	overflow:hidden;text-align:center
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
   float:left
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 5px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top:105px;
    left: 5px;
    width: 28px;
    height: 55px;
    cursor: pointer;
    background:url(../../../../images/button.png) no-repeat scroll -28px 0;
	font-size:0;
}

/*.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
   background-position: -13px 0;font-size:0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -13px 0;font-size:0;
}*/

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: bottom right;font-size:0;
	
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top:105px;
    right:5px ;
    width: 28px;
    height: 55px;
	font-size:0;
    cursor: pointer;
    background:url(../../../../images/button.png) 0 0 no-repeat;
}

/*.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
   cursor: default;
    background-position: 0 0;font-size:0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   cursor: default;
    background-position: 0 0;font-size:0;
}*/

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: bottom left;font-size:0;
}

/**
 *  Vertical Buttons
 
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}*/
/*
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}*/
/*
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
} */
