.jcarousel-skin-tango3 .jcarousel-container {
    
}
. jcarousel-skin-tango3{width:770px;height:153px;overflow:hidden}
.jcarousel-skin-tango3 .jcarousel-container-horizontal {
    width:955px;height:61px;overflow:hidden
}

.jcarousel-skin-tango3 .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango3 .jcarousel-clip-horizontal {
    width: 875px;
    height: 51px;
	margin:10px 40px 0 40px;
	overflow:hidden
/*	margin:0 30px;*/
}

.jcarousel-skin-tango3 .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango3 .jcarousel-item {
	width:110px;
    margin:0 14px;
    height:153px;
	overflow:hidden;float:left
}
.jcarousel-skin-tango3 ul li a {
    color:black;font-size:11px;display:block;text-transform:uppercase
}
/*.jcarousel-skin-tango3 ul li a:hover, .jcarousel-skin-tango3 ul li.active a {
    color:#ab00d0;
	text-decoration:none;
	background:url(../../../../images/bullet.png) center top no-repeat;
	display:block;height:74px;line-height:74px;font-size:11px
}*/

.jcarousel-skin-tango3 .jcarousel-item-horizontal {
    /*margin:0 7px*/float:left
}

.jcarousel-skin-tango3 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango3 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango3 .jcarousel-next-horizontal {
    position: absolute;
    top:9000px;
    left: 0;
    width: 28px;
    height: 55px;
    cursor: pointer;
     background:url(../../../../images/button.png) no-repeat scroll -28px 0;
	font-size:0;
	text-indent:-9999em
}

/*.jcarousel-skin-tango3 .jcarousel-next-horizontal:hover {
   background-position: -13px 0;font-size:0;
}

.jcarousel-skin-tango3 .jcarousel-next-horizontal:active {
    background-position: -13px 0;font-size:0;
}*/

.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: bottom right;font-size:0;
	
}

.jcarousel-skin-tango3 .jcarousel-prev-horizontal {
    position: absolute;
    top:9000px;
    right:-1px ;
    width: 28px;
    height:55px;
	font-size:0;
    cursor: pointer;
    background:url(../../../../images/button.png) no-repeat scroll 0 0;
	text-indent:-9999em
}

/*.jcarousel-skin-tango3 .jcarousel-prev-horizontal:hover {
   cursor: default;
    background-position: 0 0;font-size:0;
}

.jcarousel-skin-tango3 .jcarousel-prev-horizontal:active {
   cursor: default;
    background-position: 0 0;font-size:0;
}*/

.jcarousel-skin-tango3 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango3 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango3 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: bottom left;font-size:0;
}

/**
 *  Vertical Buttons
 
.jcarousel-skin-tango3 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}*/
/*
.jcarousel-skin-tango3 .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango3 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}*/
/*
.jcarousel-skin-tango3 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango3 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango3 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango3 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango3 .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango3 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango3 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango3 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango3 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
} */
