

#newsticker-demo { 
width:310px; 
background:#EAF4F5; 
padding:5px 5px 0; 
font-family:Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:310px;height:155px }
.newsticker-jcarousellite ul li{ list-style:none; display:block;margin-bottom:12px;width:310px;height:155px !important;padding-left:5px }
.newsticker-jcarousellite .thumbnail { float:left; width:110px; }
.newsticker-jcarousellite .info { float:left;color:#fff;width:762px }

.newsticker-jcarousellite .info a:hover{text-decoration:underline;color:#fcff00}
.newsticker-jcarousellite .info span.cat { display: block;color:#fcff00;font-size:16px }
.newsticker-jcarousellite .info p{color:#fff}

