
div#page {
	background-color: #000;
	border-color: #222;
}
div#footer {
	color: #888;
}
div.caption-container {
	color: #454545;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	color: #888;
}
div.navigation a.prev {
	background-image: url(prevPageArrow.gif);
}
div.navigation a.next {
	background-image: url(nextPageArrow.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	
}
ul.thumbs li.selected a.thumb {
	background: #454545;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current {

}