div#container {
	overflow: hidden;
}
div.content {
	display: none;
	float:left;width:716px
}

div.content a, div.navigation a {
	text-decoration: none;
}
div.content a:hover, div.content a:active {
	text-decoration: underline;
}

div.navigation a.pageLink {
	height: 77px;
	line-height: 77px;
}

div.controls {
	/* margin-top: 5px;
	height: 23px; */
}
div.controls a {
	/*padding: 5px;*/
}
div.ss-controls {
	float: left;
}
div.nav-controls {
	float: right;
}

div.slideshow-container,
div.loader,
div.slideshow a.advance-link {
	width:418px; /* This should be set to be at least the width of the largest image in the slideshow with padding */
}

div.loader,
div.slideshow a.advance-link,
div.caption-container {
	min-height:265px;
	height:auto !Important;
	height: 265px; /* This should be set to be at least the height of the largest image in the slideshow with padding */	
	
}

div.slideshow-container {
	position: relative;
	clear: both;
	float:left;
	height:420px;
	width:455px;
	background:url(../../images/bg_webdetail.jpg) no-repeat
}

div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.image-wrapper{display: block;
	position:absolute;
	width:432px;
	height:396px;
	overflow:hidden;
	vertical-align:middle;
	left:5px;top:7px}
div.slideshow span.image-wrapper {
	display: block;
	position:absolute;
	width:429px;
	height:396px;
	overflow:hidden;
	vertical-align:middle;
	left:6px
}
div.slideshow a.advance-link {
	display: block;
	/*line-height: 502px;  This should be set to be at least the height of the largest image in the slideshow with padding */
	
}

div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow a.advance-link:focus {
	outline: none;
}

div.slideshow img {
	float:left;font-size:0;width:429px
}
div.caption-container {
	float: right;
	position: relative;
}
span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

div.caption-container, span.image-caption {
	width: 258px;
}

div.caption {
	padding: 0 12px;
}

div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
div.download {
	margin-top: 8px;
}
div.photo-index {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 12px;
}
div.navigation-container {
	float: left;
	position: relative;
	width:455px;
	height:120px;
}
div.navigation {
	float: left;
	position: relative;
}
div.navigation a.pageLink {
	display: block;
	position: relative;
	float: left;
	margin:5px 2px 0 7px;
	width: 16px;
	display:inline;
	background-position:center center;
	background-repeat:no-repeat;
}
div.navigation a.pageLink:focus {
	outline: none;
}

ul.thumbs {
	position: relative;
	float: left;
	width:380px;
	height:107px;
	overflow:hidden;
	margin-left:10px;
	display:inline;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin:0 15px 0 15px;
	list-style: none;
	background:url(../../images/bg_thumb.jpg) no-repeat;
	width:93px;height:107px
}
a.thumb {
	padding:1px 1px;
	display: block;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
	width:91px;
	height:88px;
	overflow:hidden
}
div.pagination {
	clear: both;
	position: relative;
	left: -50%;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}
/**** Customize ******/
.fr_product_detail{float:left;margin-top:5px;color:#454545;padding-bottom:10px;border-bottom:solid 3px #ababab}
.slideshow{width:429px;height:396px;float:left;margin:5px}
.fix_bd_bottom{border-bottom:solid 3px #ababab;padding-bottom:8px}
.title_page{font-weight:bold;color:white;padding-left:3px}