
/* Styles to be dynamically generated */

#site-logo { padding: 0 102px;height: 204px; }
nav[role=navigation-sup] {
	display: block;
	position: absolute;
	right: 102px;
	top: -80px;
}
nav[role=navigation] {
	display: block;
	position: absolute;
	right: 102px;
	top: 4px;
}
nav[role=navigation-order] {
	display: block;
	position: absolute;
	right: 102px;
	top: 120px;
	text-align: center;
}
nav[role=navigation-order] > span {
	color: #c31f5c;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;}
nav[role=navigation-order] > a:hover { opacity: 0.9; }
nav[role=navigation-order] #time {
	padding-top:10px;
}
#nav-wrap nav[role=navigation-sup] > ul > li > a {
	font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px 0;
}
#nav-wrap nav[role=navigation-sup] > ul > li > a:hover {opacity: 0.9;}
#nav-wrap nav[role=navigation-sup] > ul > li {
    background-color: #4fb948;
}
#nav-wrap nav[role=navigation-sup] > ul > li:first-child {
    background-color: #92c83e;
}
#nav-wrap nav[role=navigation-sup] > ul > li:last-child {
    background-color: #0a562c;
}

#home #quote { text-align: center; }